[package]
name = "db-helper-derive"
version = "0.1.0"
authors.workspace = true 
edition.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
proc-macro = true

[dependencies]
quote = "1.0.40"
syn = "2.0.104"
