[flake8]
# https://flake8.pycqa.org/en/latest/user/index.html
max-line-length = 100


# F401: unused import.
# F403: cannot detect unused vars if we use starred import
# F405: may be undefined, or defined from star imports
per-file-ignores =
    **/__init__.py: F405
