Footer {
    background: $accent;
    color: $text;
    dock: bottom;
    height: 1;
}

Footer CurrentAccount{
    dock: right;
    width:20;
}

Footer CurrentAccount #account_desc{
    color: yellow;
    width:10;
    dock: left;
}
Footer CurrentAccount #current_uid{
    width:10;
    dock: right;
}