MonthDialog {
    margin: 1;
    align-horizontal:center;
    EmptyData  {
        align-horizontal:center;
        width: auto;
        height: auto;
        dock:bottom;
    }

    MonthInfoDetail {
        Static{
            margin: 1;
            width: auto;
            height: auto;
            max-width: 30;
        }
    }
}
