MonthDialog {
    margin: 1;

    EmptyData  {
        Static{
            margin: 1;
            width: auto;
            height: auto;
        }
    }

    MonthInfoDetail {
        Static{
            margin: 1;
            width: auto;
            height: auto;
            max-width: 40;
        }
    }
}
