Sidebar {
    width: 40;
    background: $panel;
    layer: overlay;
    dock:right;
    border: heavy #81a1c1;

    &.-hidden {
        offset-y: -100%;
    }

    #buttons {
        dock: bottom;
        height:auto;
    }
}
